<!-- TODO: Put the checkbox to the side so it won't trigger accordion click by accident -->
<div class="flex">
  <div class="flex items-center">
    <input
      type="checkbox"
      class="checkbox w-8 h-8"
      [checked]="selected()"
      (click)="toggleSelect($event)"
    />
  </div>
  <div class="divider divider-horizontal mx-2"></div>
  <div
    class="card collapse border border-base-300 bg-base-200 shadow-sm hover:scale-[1.02] transition-all duration-300 ease-in-out"
    [class.collapse-open]="expanded()"
    (click)="toggleExpand()"
  >
    <div class="collapse-title flex items-center gap-4">
      <div class="flex-1">
        <div class="flex items-center">
          <h3 class="font-medium">{{ task().name }}</h3>
          @if (task().status === "Draft") {
            <div class="ml-8">
              <span class="badge badge-outline">Draft</span>
            </div>
          }
        </div>
        <div class="flex justify-between">
          <div class="text-sm opacity-70 flex gap-2 mt-1">
            <span class="badge" [class]="getPriorityClass(task().priority)">
              {{ task().priority }}
            </span>
            <span>Due: {{ task().dueDate | date }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse-content">
      <div class="flex gap-3">
        <button class="btn btn-sm btn-outline" (click)="edit.emit(task())">
          Edit Task
        </button>
        <button class="btn btn-sm btn-error" (click)="delete.emit(task())">
          Delete Task
        </button>
      </div>
    </div>
  </div>
</div>
