<div class="p-6 max-w-7xl mx-auto">
  <!-- Action bar -->
  <div class="flex items-center mb-6">
    <div class="flex items-center">
      <input type="checkbox" class="checkbox w-8 h-8" />
    </div>
    <div class="divider divider-horizontal mx-2"></div>
    <div class="flex-1">
      <app-task-filters />
    </div>
    <div class="divider divider-horizontal"></div>
    <!-- Create button-->
    <div>
      <button class="btn btn-primary btn-sm" (click)="openCreateModal()">
        Create
        <lucide-icon [img]="Plus" class="w-5 h-5" />
      </button>
    </div>
  </div>

  <!-- Task List -->
  <div class="w-full flex gap-6 flex-col">
    @if (taskManager.isLoading()) {
      <div class="loading loading-spinner loading-md"></div>
    } @else if (taskManager.error()) {
      <div>Something happened</div>
    } @else {
      @for (taskListItem of tasksWithSelection(); track taskListItem.task.id) {
        <app-task-item
          [task]="taskListItem.task"
          [selected]="taskListItem.selected"
          (select)="toggleTaskSelection($event)"
          (edit)="editTask($event)"
          (delete)="openDeleteModal($event)"
        />
      }
    }
  </div>

  <app-modal>
    @if (modalType() === "Task") {
      <app-task-form [inputTaskForm]="editedTask()" />
    } @else if (modalType() === "Delete") {
      <h1 class="text-xl font-bold">Delete {{ deletedTask()?.name }}?</h1>
      <div class="flex gap-3 items-center justify-end">
        <button (click)="closeModal()" class="btn btn-ghost">Cancel</button>
        <button (click)="deleteConfirmation()" class="btn btn-error">
          Delete
        </button>
      </div>
    }
  </app-modal>
</div>
