<div class="p-6 max-w-7xl mx-auto">
  <!-- Action bar -->
  <div class="flex items-center mb-6">
    <div class="form-control w-full max-w-md">
      <input
        type="text"
        placeholder="Search tasks..."
        class="input input-bordered w-full"
        [(ngModel)]="searchQuery"
      />
    </div>

    <!-- Filters -->
    <div class="flex gap-2">
      @for (priority of priorities; track priority) {
        <button
          class="btn btn-sm btn-outline"
          [class.btn-active]="selectedPriorities().includes(priority)"
          (click)="togglePriorityFilter(priority)"
        >
          {{ priority }}
        </button>
      }

      <button
        class="btn btn-sm btn-outline"
        [class.btn-active]="showDraftsOnly"
        (click)="toggleDraftFilter()"
      >
        Drafts
      </button>
    </div>

    <!-- Create button-->
    <div>
      <button class="btn btn-primary btn-sm" (click)="openModal()">
        Create
        <lucide-icon [img]="Plus" class="w-5 h-5" />
      </button>
    </div>
  </div>

  <!-- Task List -->
  <div class="w-full flex gap-6 flex-col">
    @if (taskManager.isLoading()) {
      <div class="loading loading-spinner loading-md"></div>
    } @else if (taskManager.error()) {
      <div>Something happened</div>
    } @else {
      @for (taskListItem of tasksWithSelection(); track taskListItem.task.id) {
        <app-task-item
          [task]="taskListItem.task"
          [selected]="taskListItem.selected"
          (expand)="expandTask($event)"
          (select)="toggleTaskSelection($event)"
          (edit)="editTask($event)"
        />
      }
    }
  </div>

  <app-create-modal>
    <app-task-form />
  </app-create-modal>
</div>
