<dialog class="modal overflow-hidden" [class.modal-open]="modalOpen()">
  <div class="modal-box">
    <!-- Header -->
    <div class="flex items-center justify-between mb-4">
      <div class="join">
        <button
          class="join-item btn btn-sm"
          [class.btn-active]="modalType() === 'task'"
          (click)="this.modalService.changeType('task')"
        >
          Task
        </button>
        <button
          class="join-item btn btn-sm"
          [class.btn-active]="modalType() === 'event'"
          (click)="this.modalService.changeType('event')"
        >
          Event
        </button>
      </div>
      <button class="btn btn-ghost btn-sm" (click)="this.modalService.close()">
        <lucide-icon [img]="X" class="w-5 h-5" />
      </button>
    </div>

    <!-- Task Form -->
    @if (isTaskForm()) {
      <app-task-form />
    } @else {
      <app-event-form />
    }
  </div>
  <form method="dialog" class="modal-backdrop">
    <button (click)="this.modalService.close()">close</button>
  </form>
</dialog>
